{% extends 'base.html' %}

{% block content %}




{% if user.is_authenticated %}
<!-- Button trigger modal -->





<!-- Modal -->
<div class="modal fade" id="add_record" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add_record">Add Record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


<div class="modal-body">
<h1>Add Record</h1>
<form method="POST"class="px-3 px-md-5 py-5">
	{% csrf_token %}
 <div class="row"> 
  <div class="col-md-6  col-12">{{ form.first_name }}</div>
  <div class="col-md-6 col-12 ">{{ form.last_name }}</div>
  <div class="col-md-6  col-12">{{ form.email }}</div>
  <div class="col-md-6 col-12 ">{{ form.phone }}</div>
  <div class="col-md-6  col-12">{{ form.address }}</div>
  <div class="col-md-6 col-12 ">{{ form.city }}</div>
  <div class="col-md-6  col-12">{{ form.state }}</div>
  <div class="col-md-6 col-12 ">{{ form.zipcode }}</div> 
  <div class="col-md-3 col-12"></div>
  
  </div>
</form>

</div>

      </div>
     
    </div>
  </div>
</div>
  {% comment %} model2 {% endcomment %}
  <!-- Modal -->


      </div>
     
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value)  -1)
      });
    });
  });
  </script>
   {% comment %} main homepage without modal {% endcomment %}
<div class="container">
<div class="card border-0 bg-white px-5 ">
  <div class="card-header bg-white border-0">
    <div class="text-end">
    <button class="btn btn-secondary my-3 text-end" href="" data-bs-toggle="modal" data-bs-target="#add_record">Add Record</button>
  </div>
  </div>
  <div class="card-body">
    <table class="table table-dark table-hover">
      <thead class="dark-table">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Zipcode</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table table-light">
    
        {% if records %}
          {% for record in records %}
            <tr>
              <td>{{ record.first_name }} {{ record.last_name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.phone }}</td>
              <td>{{ record.address }}</td>
              <td>{{ record.city }}</td>
              <td>{{ record.state }}</td>
              <td>{{ record.zipcode }}</td>
              <td>{{ record.created_at }}</td>
              <td><a id="edit_user" class="btn btn-outline-success opacity-75" data-bs-toggle="modal" data-bs-target="#edit_user-{{record.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
              </svg></a>
        
              <a class="btn btn-outline-danger opacity-75" href="{% url 'delete_record' record.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg></a>
            
            </tr>
           
        
        
          <div class="modal fade" id="edit_user-{{ record.id }}"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"    aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="edit_user">{{record.first_name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="col-md-6 offset-md-3">
                    <h1>Edit Record</h1>
                    {% comment %} <form action="" method="POST"> {% endcomment %}
                    <form action="{% url 'update_record' record.id %} " method="POST">
        
                      {% csrf_token %}
                    <div class="row">
                      <div class="col col-md-6">
                     <input type="text"class="form-control form-control-lg" name="fname" value="{{record.first_name}}">
                      </div>
                
                     <div class="col col-md-6">
                     <input type="text"class="form-control form-control-lg" name="lname" value="{{record.last_name}}">
                     </div>
                     <div class="col col-6"><input type="text"class="form-control form-control-lg my-3" name="email" value="{{record.email}}"></div>
                     
                     <div class="col col-6"> <input type="text"class="form-control form-control-lg my-3" name="phone" value="{{record.phone}}"></div>
                    
                     <div class="col col-6"> <input type="text"class="form-control form-control-lg my-3" name="city" value="{{record.city}}"></div>
                    
                     <div class="col col-6">  <input type="text"class="form-control form-control-lg my-3" name="address" value="{{record.address}}"></div>
                   
                     <div class="col col-6"> <input type="text"class="form-control form-control-lg my-3" name="state" value="{{record.state}}"></div>
                    
                     <div class="col col-6">  <input type="text"class="form-control form-control-lg my-3" name="zipcode" value="{{record.zipcode}}"></div>
                   
                     <div class="col col-6"> <input type="text"class="form-control form-control-lg my-3" name="created_at" value="{{record.created_at}}">
                     </div>
                    
                      
                      <input type="submit" class="btn btn-secondary btn-btn-lg">
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %} <p>Record Not Found</p>{% endif %}
        </tbody>
    </table>



{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>



{% endif %}

{% endblock %}